<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recept</title>
    <% include ../../../views/head.ejs %>

    <!-- CSS files -->
    <link rel="stylesheet" href="css/note.css">
    <link rel="stylesheet" href="css/design.css">
    <!-- Amatic+SC|Annie+Use+Your+Telescope|Give+You+Glory|Handlee -->
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">

    <!-- JavaScript files -->
    <script type="text/javascript" src="js/note.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    <script type="text/javascript" src="js/scroll.js"></script>
    <script type="text/javascript" src="js/recepts.js"></script>
  </head>
  <body>
    <div class="ui container">
      <br><br>
      <!-- search segment -->
      <div class="searchOver">
        <div class="ui category search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Sök recept...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>

      <% include html/note.html %>
    </div>


    <footer>

      <div class="ui bottom aligned medium image" style="width: 30%;">
        <img src="images/sunFlower2.png" alt="sun flowers">
      </div>

      <div class="ui bottom aligned small image" style="width: 6%;">
        <img src="images/sunFlower1.png" alt="sun flowers">
      </div>

      <div class="background"></div>
    </footer>

    <script type="text/javascript">
      let RECEPTS = [];
      <% if(typeof recept != "undefined") { %>
        RECEPTS = <%- JSON.stringify(recept) %>;
      <% } %>

      addNotes(RECEPTS);

      checkWidth();

      setFooter();
    </script>
  </body>
</html>
