<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sofia</title>
    <link rel="icon" type="image/png" href="images/home.png">
  </head>
  <body>
    <h2>Välj din kategori honey</h2>
    <hr>
    <ul>
    <% for(var i = 0; i < dictionaries.length; i++) { %>
      <% if(dictionaries[i] != '.git' && dictionaries[i] != 'node_modules' && dictionaries[i] != 'views' && dictionaries[i] != 'semantic' && dictionaries[i] != 'public') { %>
        <li><a href="/<%= dictionaries[i] %>"><%= dictionaries[i] %></a></li>
      <% } %>
    <% } %>
  </ul>
  </body>
</html>
